body {
    background-color: #808080;
}

#title {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 4vmin;
    color: white;
}

label {
    font-family: Arial, sans-serif;
}

table {
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, sans-serif;
    background-color: #707070;
    border: 1px solid black;
}

th.output {
    text-align: center;
    border: 1px solid black;
}

td.output {
    padding-right: 9%;
    text-align: right;
    border: 1px solid black;
}

input:invalid {
    background-color: pink;
}